html {
    scroll-behavior: smooth;
  }
  
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #141414;
    color: #fff;
    margin: 0;
    
}

nav {
  background-color: #141414;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.nav-container {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.nav-link {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.nav-link:hover, .nav-link:focus {
  opacity: 1;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #b30000;
  --primary-color-dark: #b30000;
  --text-dark: #ffffff;
  --text-light: #7b7b7b;
  --extra-light: #141414;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}


ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

.section {
  background-color: var(--extra-light);
}

.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.action__btns {
  display: flex;
  gap: 1rem;
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  align-self: center;
}

.hire__me {
  background-color: var(--primary-color);
  color: #ffffff;
}

.hire__me:hover {
  background-color: var(--primary-color-dark);
}

.portfolio {
  color: var(--primary-color);
}

.portfolio:hover {
  background-color: var(--primary-color-dark);
  color: #ffffff;
}

.image {
  display: grid;
  place-items: center;
}

.image img {
  width: min(25rem, 90%);
  border-radius: 0%;
}

.action__btns a.portfolio {
    display: inline-block;
    text-align: center;
    background-color: transparent;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .action__btns a.portfolio:hover {
    background-color: var(--primary-color-dark);
    color: #ffffff;
  }
  
@media (width < 750px) {
  nav {
    position: static;
    margin-bottom: 20px;
}
  

  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    margin-top: -30%;
    grid-area: 1/1/2/2;
  }

  .action__btns {
    margin: auto;
  }
}

.social-icons {
    text-align: center;
    margin-top: 20px; /* Adjust the margin as needed */
    margin-bottom: 30px;
}

.social-icons a {
    color: #333; /* Icon color */
    margin: 0 20px; /* Space between icons */
    font-size: 22px; /* Icon size */
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
    transform: scale(1.2);
    color: #970000; /* Icon color on hover */
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .section {
    animation: fadeIn 1s ease-out;
  }
  .image img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
    
