body {
    height: 100vh;
    width: 100%;
    background-color: #141414;
    margin: 0;
    overflow: hidden;
}

nav {
    background-color: #141414;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.nav-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.nav-link {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.nav-link:hover, .nav-link:focus {
    opacity: 1;
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 50px;
    overflow-x: hidden;
}

.project {
    width: 35vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.image {
    width: 100%;
    height: 50vmin;
    object-fit: cover;
    border-radius: 30px;
}

.project-name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin-top: 30px;
    opacity: 0.6;
    transition: opacity 0.3s ease;
    text-align: center;
    font-size: 15px;
}

.project-name:hover {
    opacity: 1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(20, 20, 20, 0.97);
}

.modal-content {
    position: relative;
    background-color: rgba(255, 255, 255, 0.15);
    margin: 10% auto;
    margin-top: 5%;
    padding: 0;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.modal-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Calibri', sans-serif;
}

.modal-image {
    max-width: 40%;
    height: auto;
    border-radius: 10px;
}

#modal-description {
    width: 50%;
    padding: 20px;
    overflow-y: auto;
    color: #fff;
}

#modal-description a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

#modal-description a:hover, #modal-description a:focus {
    color: #dddddd;
    text-decoration: underline;
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content * {
    font-family: 'Calibri', sans-serif;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.work-experience {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    color: white;
    overflow-x: auto;
    padding: 20px;
}

.experience {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.experience-logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.experience-description {
    text-align: center;
    font-size: 0.9rem;
    padding: 0 10px;
}

@media (max-width: 768px) {
    body {
        overflow: visible;
    }

    nav {
        position: static;
        margin-bottom: 20px;
    }

    #image-track {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        padding: 0;
        box-sizing: border-box;
        white-space: nowrap;
    }

    .project {
        flex: 0 0 80%;
        display: inline-block;
        scroll-snap-align: right;
        margin-bottom: 20px;
        text-align: center;
    }

    .image {
        width: auto;
        height: auto;
        max-height: 50vh; /* Ensure the image is fully visible */
        object-fit: contain; /* Ensures the image fits within the container */
        margin-left: auto;
    }

    .project-name {
        font-size: 15px;
        margin-top: 10px;
        white-space: normal;
        text-align: center;
    }
}
